.tab_header {
	background-color: green;
	color: white;
	font-weight: 9000; 
	font-family: Georgia, "Times New Roman", Times, serif;
}
th:nth-child(1) {
	text-align: center;
}
th {
	padding-top:10px;
	padding-bottom:10px;
}
.tr_body td {
	font-size: 16px; 
	font-weight: 600;
	padding-top:5px;
	padding-bottom:5px;
}
.tr_body:nth-child(odd) {
	background: #b3ecff;
}
